{% extends "userpanel/base_userpanel.html" %}

{% block user_content %}
<h3>My Addresses</h3>
<hr>

<a href="{% url 'add_address' %}" class="btn btn-success mb-3">+ Add New Address</a>

{% for addr in addresses %}
<div class="card mb-3 p-3 shadow-sm">
    <h5>{{ addr.full_name }}</h5>
    <p>{{ addr.address }}, {{ addr.city }} - {{ addr.pincode }}</p>
    <p>{{ addr.phone }}</p>

    {% if addr.is_default %}
    <span class="badge bg-success">Default</span>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
