{% extends "core/base.html" %}
{% block content %}
<div class="admin-content">
<h3>Order #{{ order.id }}</h3>

<h5 class="mt-3">Update Status</h5>
<h4>Items</h4>
<ul>
  {% for item in order.items.all %}
  <li>{{ item.product.name }} x {{ item.quantity }} (₹{{ item.price }})</li>
  {% endfor %}
</ul>
<form method="POST">
  {% csrf_token %}
  <p><strong>Current Status:</strong> 
            <span class="badge bg-info text-dark">{{ order.get_status_display }}</span>
        </p>
  <button class="btn btn-success mt-2"><a href="{% url 'adminpanel:update_order_status' order.id %}" class="btn btn-success">Update</a></button>
</form>

<hr>
</div>


{% endblock %}
