{% extends "userpanel/base_userpanel.html" %}
{% load static %}

{% block user_content %}
<h3>My Profile</h3>
<hr>
{% if user.profile.profile_image %}
    <img src="{{ user.profile.profile_image.url }}" alt="Profile Image" width="150" height="150">
{% else %}
    <img src="{% static 'images/default-avatar.png' %}" alt="Default Avatar">
{% endif %}
<p><strong>FullName: </strong> {{ request.user.get_full_name }}</p>
<p><strong>Username: </strong> {{ request.user.username }}</p>
<p><strong>Phone: </strong> {{ request.user.profile.phone }}</p>
<p><strong>Email: </strong> {{ request.user.email }}</p>

<a href="/accounts/password_change/" class="btn btn-warning">Change Password</a>

{% endblock %}
